body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

body > .container {
  margin: 20px;
  min-width: 760px;
  max-width: 960px;
}


#projects > li.empty {
  font-style: italic;
  color: #aaa;
  visibility: hidden;
  display: block;
  height: 0px;
  padding: 0;
}

#projects > li.empty:only-child {
  visibility: visible;
  height: auto;
  padding: 10px 20px;
}


#new_project_tmpl, body.options #new_site_tmpl {
  display: none;
}

#projects {
  margin: 0;
  padding: 0;
  border-radius: 7px;
  border: 1px solid #ddd;

}

#projects > li:not(.empty) {
  display: block;
  padding: 0px 20px 0;

  border-bottom: 1px dashed #ddd;

}

#projects > li:first-child, #projects > li:nth-child(2), #projects > li:nth-child(2) .toolbar  {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px
}

#projects > li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#projects > li > input {
  font-size: 18px;
}
.toolbar {

  color: white;
  font-size: 24px;
  margin: 0 -20px;
  padding: 10px 20px;
  background: #1B4C61;
  background: -webkit-linear-gradient(top, #1B4C61, #0B3C51);
}

.toolbar label, .toolbar input {
  font-size: 18px;
}

.toolbar label {
  width: 150px;
  float: left;
}

.toolbar button{
  float: right;
}

#projects .sites {
  display: block;
  background: #eee;
  margin: 0 -20px;
  padding: 0;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 15px;
}

#projects .sites li {
  display: block;
  padding: 10px 20px;
  border-bottom: 1px dashed #ddd;
  -webkit-transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#projects .sites li:nth-child(2n) {
  background: rgba(255,255,255,0.5);
}

#projects .sites li:last-child {
  border-bottom: none;
}
#projects .sites li button {
  float: right;
  position: relative;
  z-index: 100;
}

#projects .sites li label {
  display: block;
  width: 150px;
  float: left;
}

#projects > li.deleted, #projects .sites li.deleted {
  opacity: 0;
}

.project_custom_site_name {
  opacity: 0;
}

div.formrow {
  position: relative;
  display: block;
  z-index: 50;
}

div.tooltip {
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  color: white;
  right: -100px;
  top: 0;
  border-radius: 3px;
  padding: 5px;
  max-width: 240px;
  background: -webkit-linear-gradient(top, #1B4C61, #0B3C51);
  box-shadow: rgba(0,0,0,0.6) 0px 0px 30px;
  font-style: italic;
}
input:focus ~ .tooltip {

  opacity: 0.9;
  box-shadow: rgba(0,0,0,0.6) 20px 20px 30px;
  right: 2px;
}

#status, #error {
  font-weight: bold;
  margin: 0 10px;
}

#error {
  color: red;
}

.logo{
  overflow: hidden;
  margin-right: 10px;
  float: left;
  width: 32px;
  height: 32px;
  background: -webkit-linear-gradient(top, #038C8C, #03658C);
  border-radius: 4px;
  font-size: 22.5px;
  text-align: center;
  line-height: 32px;
  text-indent: -2px;
  font: "Helvetica Neue";
  font-weight: bold;
  background: -webkit-linear-gradient(top, #F8792F, #F24130);
  color: #fff;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
  text-shadow: rgba(0,0,0,0.5) 0px 0px 15px;
  position: relative;
}

footer {
  line-height: 32px;
}